<div class="card-columns">
    <% images.each do |image| %>
        <div class="card">
            <div class="card-body p-1">
                <%= image_tag image.image, class: 'd-block w-100 mb-2' %>
                <%= link_to "Tシャツを見る", image_path(image.image.id), class: 'btn-flat-border stretched-link' %>
            </div>
        </div>
    <% end %>
</div>