 <div class="bg-image">
    <div class="py-10 lg:py-20 px-4 border-b border-grey-light mb-4 text-indigo-darker">
        <div class="container m-auto text-center center1">
            <p class="white">今日着るTシャツを決めよう!</p>

            <% unless user_signed_in? %>
            <%= link_to "始める", new_user_registration_path, class:"my-3 btn btn-sm animated-button victoria-one" %>
            <% else %>
            <%= link_to "Tシャツを決める", root_path, class:"my-3 btn btn-sm animated-button victoria-three" %>
            <% end %>
        </div>
    </div>

</div>