@import "bootstrap-sprockets";
@import "bootstrap/scss/bootstrap";

.bg-image {
    background: image-url('ttt-shirt2');
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;   
    margin-top: 55px;
}

p.white {
    color: white;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 45px;
}

.center1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    width: auto;
    text-align: center;/*一応BOX内の文字も中央寄せ*/
  }

  .navbar {
      background-color: black;
  }

  .nwhite {
      color: white;
      &:hover {
          color: white;
      }
  }

  .bold {
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }