@import "bootstrap-sprockets";
@import "bootstrap/scss/bootstrap";
@import "active_storage_drag_and_drop";


.bg-image {
    background: image-url('ttt-shirt22');
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;   
    margin-top: 55px;
}

p.white {
    color: white;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 45px;
}

.center1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    width: auto;
    text-align: center;/*一応BOX内の文字も中央寄せ*/
  }

  .navbar {
      background-color: black;
  }

  .nwhite {
      color: white;
      &:hover {
          color: white;
      }
  }

  .bold {
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .tcenter {
      text-align: center;
      font-weight: bold;
  }

.button {
    font-weight: bold;
}

.animated-button.victoria-one {
    border: 4px solid #D24D57;
}
.animated-button.victoria-one:after {
    background: #D24D57;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
.animated-button:link, .animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size:18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.animated-button:link:after, .animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}
.animated-button:link:hover, .animated-button:visited:hover {
    color: #FFF;
    text-shadow: none;
}
.animated-button:link:hover:after, .animated-button:visited:hover:after {
    height: 450%;
}
.animated-button:link, .animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size:28px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.animated-button.victoria-three {
    border: 4px solid #D24D57;
}
.animated-button.victoria-three:after {
    background: #D24D57;
    opacity: .5;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.animated-button.victoria-three:hover:after {
    height: 140%;
    opacity: 1;
}

.btn-gradient-radius {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, rgb(255, 7, 123) 0%, #ff8b5f 100%);
    transition: .4s;
  }
  
  .btn-gradient-radius:hover {
    background-image: linear-gradient(45deg, rgb(97, 17, 54) 0%, #ff8b5f 100%);
  }

  .btn-gradient-radius1 {
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, rgb(255, 7, 123) 0%, #ff8b5f 100%);
    transition: .4s;
  }

  .btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #c0169b;
    border: solid 3px #ee35d5;
    border-radius: 3px;
    transition: .4s;
    margin-top: 7px;
    margin-left: 30%;
    font-weight: bold;
  }
  
  .btn-flat-border:hover {
    background: #ee35d5;
    color: white;
  }